<!--page content start here-->
  <div class="about">
        <div class="parawrap" style="padding: 10px;">
          <div class="para"> 
                                     learn2earn is an education company. Our objective 
            is to educate people.            We provide a class of Technical Skills (like - JavaScript, Angularjs, 
            Nodejs, Android, MongoDb, Mysql, Php, etc ) on demand. We donot any charges for class,however if anyone gives whatever we will take it as a rewards.
          </div>
          <div class="para">
            We give the priority to education first than money. We want people should able
            to take their decision theirselves.
          </div>
          <div class="para">
            We always welcome to people who want to join our Team.
          </div>
        </div>        
      </div>
<!--end here-->
      
      