<!--page content start here-->
<div class="contact">
  <div class="contact-email" style="padding: 10px;">
    <div> <Strong>Contact Number: </Strong> <span>8892804623</span></div>
    <div> <Strong>Email Id: </Strong> <span>learn2earnbyrajnish@gmail.com</span></div>
  </div>
  <div class="address-map-wrap">
    <div class="addresswrap" style="padding: 10px;">
      <div style="font-size: 20px;">Corporate Office:</div>
      <div style="font-size: 16px;">
        #11, M M Residency, Near- Mother Teresa Public High School,
        Hongasandra Road, 9th main, Garvebhavi Palaya,
        Bangalore, Pin code - 560068, Karnataka.
      </div>
    </div>
    <!--<div class="mapwrap">
      Google map is loading soon...
    </div>-->
    <div class="contactmapwrap">
      <div id="contactUsmap" style="height: 400px;width:100%;" class="mapwrap"></div>
    </div>
  </div>
</div>
  
    
    
      