<div class="home">
  <div class="question-answer-wrap Container">
    <div class="question row" style="margin-left: 3px;">
      <Strong> What is learn2earn?</Strong>
    </div>
    <div class="answer">
     learn2earn is an education company whose objective is to provide education to everyone. Our objective is to make 100% literacy in India.
    </div>
  </div>
  <div class="question-answer-wrap">
    <div class="question">
      <Strong> How does it work?</Strong>
    </div>
    <div class="answer">
     We provide education on demands to normal customers who want to learn any technical
     skills (like- JavaScript, NodeJs, Angularjs, Android, Php, MongoDb, Mysql, etc). We
     do not take any specific charges for that. Whatever customers give us after class,
     we take it as rewards. Our objective is to provide good eduction and make happy to our customers.
    </div>
  </div>
  <div class="question-answer-wrap">
    <div class="question">
      <Strong> How can we help you?</Strong>
    </div>
    <div class="answer">
     We provide classes on  demands whichever technology (like- JavaScript, Angularjs, Nodejs, Android, Php, Mysql, MongoDb, etc) you want to learn or have any doubt for same.
    </div>
  </div>

</div>